# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Spring Boot
application-local.yaml
application-local.properties

# Test
*.class
*.jar
*.war